@{
    ViewData["Title"] = "Home Page";
}

<p class="lead">Eléments récents...</p>

<div class="row">
    <div class="col-md-3">
        <h4><a asp-controller="Comics" asp-action="Index">Bandes-dessinées</a></h4>
        <ul style="list-style:none;padding:0;">
            @foreach (var comic in ViewBag.LastComics)
            {
                <li>
                    <div class="card">
                        <a asp-controller="Comics" asp-action="Details" asp-route-id="@comic.Id">
                            @if (comic.CouvertureFileId != null)
                            {
                                <img src="@Url.Action("Get", "Files", new { id = comic.CouvertureFileId })" />
                            }
                            <h4>@comic.Title</h4>
                            <p>@comic.Genre</p>
                        </a>
                    </div>
                </li>
            }
        </ul>
    </div>
    <div class="col-md-3">
        <h4><a asp-controller="Authors" asp-action="Index">Auteurs</a></h4>
        <ul style="list-style:none;padding:0;">
            @foreach (var author in ViewBag.LastAuthors)
            {
                <li>
                    <div class="card">
                        <a asp-controller="Authors" asp-action="Details" asp-route-id="@author.Id">
                            @if (author.PhotoId != null)
                            {
                                <img src="@Url.Action("Get", "Files", new { id = author.PhotoId })" />
                            }
                            <h4>@author.FullName</h4>
                        </a>
                    </div>
                </li>
            }
        </ul>
    </div>
    <div class="col-md-3">
        <h4><a asp-controller="Editors" asp-action="Index">Editeurs</a></h4>
        <ul>
            @foreach (var editor in ViewBag.LastEditors)
            {
                <li><a asp-controller="Editors" asp-action="Details" asp-route-id="@editor.Id">@editor.Name</a></li>
            }
        </ul>
    </div>
    <div class="col-md-3">
        <h4><a asp-controller="Genres" asp-action="Index">Genres</a></h4>
        <ul>
            @foreach (var genre in ViewBag.LastGenres)
            {
                <li><a asp-controller="Genres" asp-action="Details" asp-route-id="@genre.Id">@genre.Title</a></li>
            }
        </ul>
    </div>
</div>