@model IEnumerable<ComicsManager.Model.Models.Editor>
@{
    ViewData["Title"] = "Editeurs";
}
<h2>@ViewData["Title"]</h2>
<p>
    <a asp-action="Create" class="btn btn-default">Nouveau</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedOn)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" title="Details" class="btn btn-default"><span class="fas fa-info-circle"></span></a>
                    <a asp-action="Edit" asp-route-id="@item.Id" title="Modifier" class="btn btn-default"><span class="fas fa-edit"></span></a>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" data-id=@item.Id data-name="@item.Name"><span class="fas fa-trash-alt"></span></button>
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>Êtes-vous sur de vouloir supprimer l'élément : <b id="Name"></b></p>
            </div>
            <div class="modal-footer">
                <form asp-controller="Editors" asp-action="Delete" method="post" class="form-inline" role="form">
                    <input type="hidden" name="id" id="id">
                    <button type="submit" class="btn btn-danger"><span class="fas fa-trash-alt" style="vertical-align:middle;margin-top: -5px"></span> Supprimer</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        $(document).ready(function () {
            $('#deleteModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var id = button.data('id');
                var name = button.data('name');

                $("#Name").text(firstName + ' ' + lastName);
                $("#id").val(id);
            });
        });
    </script>
}
