@model ComicsManager.BackOffice.ViewModels.ComicViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Comic</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Comic.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comic.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comic.ISBN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comic.ISBN)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comic.Cycle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comic.Cycle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comic.Collection)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comic.Collection)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comic.Note)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comic.Note)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comic.Couverture)
        </dt>
        <dd>
            <img style="max-width:100px;" src="@Model.CouvertureFileB64" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comic.PublicationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comic.PublicationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comic.CreatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comic.CreatedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comic.ModifiedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comic.ModifiedOn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Comic.Id">Modifier</a> |
    <a asp-action="Index">Retour à la liste</a>
</div>
