@model ComicsManager.Model.Models.Comic

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Comic</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ISBN)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cycle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cycle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Collection)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Collection)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Couverture)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Couverture)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PublicationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublicationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
